header {
  width: 100%;
  background: #007160;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0;
  width: 90%;
  align-items: center;
}

header .container .logo {
  width: 245px;
  height: 50px;
}

header .container .menu {
  width: 38px;
  height: 20px;
}

header .container p {
  font-size: 18px;
  color: white;
  font-family: "FuturaBT";
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-container .content {
  position: relative;
  height: 500px;
  margin-left: 80px;
}

.grid-container .content > img {
  width: 400px;
  position: absolute;
  left: 0;
  bottom: 100px;
  z-index: 3;
}

.grid-container .content h1 {
  padding-left: 60px;
  font-family: "TimeBurner";
  color: #fff;
  font-size: 50px;
  font-weight: normal;
}

.grid-container .content h1 span {
}

.grid-container .content button {
  margin-left: 60px;
  padding: 15px 20px;
  background: transparent;
  color: #bcd9d3;
  border: 1px solid #bcd9d3;
  border-radius: 30px;
  font-family: "FuturaBT";
}

.grid-container .content button img {
  width: 25px;
  margin-left: 40px;
}

.banner1 {
  background: #007160;
  position: relative;
}

.banner1 > img {
  position: absolute;
  bottom: -90px;
  width: 400px;
}

.banner1 > .vetor2 {
  top: 0;
  width: 500px;
  z-index: 2;
  transform: translateX(65%);
}

.image-banner {
  position: relative;
  height: 100%;
}

.image-banner img {
  position: absolute;
  width: 500px;
  bottom: -38px;
  right: 0;
}

.container-card {
  width: 100%;
  background: #d0e7d0;
}

.cards {
  display: flex;
  width: 78%;
  margin: 0 auto;
  justify-content: center;
}

.min-card {
  width: 40%;
  margin: 70px 0px 48px 0px;
  padding: 0px 35px;
  text-align: center;
}

.min-card h1 {
  font-family: "TimeBurner";
  color: #77ab9e;
  font-size: 36px;
}

.min-card p {
  color: #005f4d;
  font-family: "FuturaBK";
  font-size: 16px;
}

#carousel-button {
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
}

.img-card {
  position: absolute;
  margin-top: -150px;
}

.img-card img {
  width: 200px;
  height: 450px;
}

.container-description {
  width: 100%;
  background-image: url(/assets/Benetton\ 15\ anos.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.description-img {
  background-image: url(../assets/Objeto\ Inteligente\ de\ Vetor3.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 119%;
  position: absolute;
  width: 620px;
  margin-top: -25px;
}

.container-description .description-img img {
  width: 100%;
  height: 840px;
  margin-top: -35px;
}

.content-description {
  width: 78%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 140px;
  padding: 200px 0px 180px 0px;
}

.description-title {
  color: #fff;
  position: relative;
}

.description-title img {
  margin-right: 10px;
  width: 50px;
  height: 55px;
}

.description-title h1 {
  font-family: "TimeBurner";
}

.description-title p {
  font-family: "FuturaBK";
  margin-bottom: 30px;
  color: #fff;
}

.description {
  width: 58%;
  color: #fff;
  text-align: justify;
  font-family: "FuturaBK";
  line-height: 1.4rem;
}

.container-perfil {
  width: 100%;
  background: #005f4d;
}

.content-perfil {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.text-perfil {
  margin-top: 45px;
  width: 57%;
}

.text-perfil h1 {
  color: #fff;
  font-family: "TimeBurner";
  font-size: 40px;
}

.text-perfil p {
  color: white;
  font-family: "FuturaBK";
  font: 25px;
}

.img-perfil {
  position: relative;
}

.img-perfil img {
  width: 100%;
  margin-top: -40px;
  position: relative;
}

.sub-img img {
  width: 100%;
}

.fita {
  width: 62%;
  margin-left: 50%;
}

.fita img {
  width: 67%;
  position: absolute;
  top: 260px;
  right: -92px;
}

.container-produtos {
  width: 80%;
  margin: 0 auto;
}

.container-produtos h1 {
  text-align: center;
}

.content-produtos {
  display: flex;
  justify-content: space-between;
}

.content-produtos img {
  width: 200px;
  height: 400px;
}

.container-produto {
  width: 100%;
  background: #d0e7d0;
  background-image: url(../assets/Fundo-produto.png);
  background-repeat: repeat;
  background-size: contain;
  background-position: right;
}

.content-produto {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 130px 0;
  margin-top: -30px;
}

.content-produto img {
  width: 140px;
  height: 450px;
}

.content-produto .img-produto2 {
  width: 250px;
  height: 450px;
}

.content-produto .img-produto3 {
  width: 180px;
  height: 450px;
}
.content-produto h1 {
  font-family: "TimeBurner";
  font-weight: bold;
  color: #005f4d;
  padding-bottom: 20px;
}

.description-produto {
  width: 28%;
  margin: 0 auto;
  text-align: center;
}

.content-produto .carousel-item h1 {
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}
.content-produto p {
  color: #005f4d;
  font-family: "FuturaBK";
}

.description-produto .btn-produto {
  padding: 14px 25px;
  background: transparent;
  color: #005f4d;
  border: 1px solid #005f4d;
  border-radius: 30px;
  font-family: "FuturaBT";
}

.description-produto .btn-produto img {
  width: 25px;
  height: 20px;
  margin-left: 40px;
}
.img-folha {
  position: absolute;
  margin-top: -359px;
  margin-left: -35px;
}

.img-folha img {
  width: 260px;
  height: 450px;
}

.container-blog {
  width: 100%;
}

.container-blog h1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #005f4d;
  font-family: "TimeBurner";
  font-size: 50px;
}

.content-blog {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0 auto;
  gap: 20px;
}

.img-vertical {
  width: 100%;
}

.img-vertical h2 {
  font-family: "TimeBurner";
  color: #005f4d;
  font-size: 24px;
  padding-top: 20px;
}

.img-vertical img {
  width: 100%;
}

.img-grid-blog img {
  max-width: 154px;
}

.post-blog h2 {
  font-family: "TimeBurner";
  color: #005f4d;
  font-size: 24px;
}

.post-blog p {
  font-family: "FuturaBK";
  font-weight: bold;
}

/* Fonts */

@font-face {
  font-family: "FuturaBT";
  src: local(FuturaBT), url(../fonts/Futura\ Heavy\ font.ttf);
}

@font-face {
  font-family: "TimeBurner";
  src: local(TimeBurner), url(../fonts/timeburnerbold.ttf);
}

@font-face {
  font-family: "FuturaBK";
  src: local(FuturaBK), url(../fonts/Futura\ Book\ font.ttf);
}
